@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,700&display=swap");

:root {
  --yellow-color: #f4c214;
  --white-color: white;
  --blue-color: #1974c6;
}

body {
  display: grid;
  place-items: center;
  background-image: url("../assets/ui/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#canvas {
  box-shadow: 10px 0px 10px #02396b4d;
  border-radius: 5px;
}

.modal-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  color: #00386a;
  font: normal normal 500 18px/20px Poppins;
  text-align: center;
  row-gap: 10px;
}

.modal-content > div h3 {
  font: normal normal bold 30px/32px Poppins;
}

.modal-content > div img {
  height: 200px;
  width: 140px;
  object-fit: contain;
}

.modal-content > div div.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 80%;
}

.modal-content > div div.buttons button {
  border: none;
  outline: none;
  background: #1974c6;
  color: white;
  height: 44px;
  font: normal normal bold 20px/22px Poppins;
}

main.game * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  font-family: "Poppins", sans-serif;
}

main.game > div.locked {
  display: none;
}

main.game > div.wrapper {
  width: 100%;
  text-align: center;
}

main.game > div.wrapper div.header {
  position: relative;
}

main.game > div.wrapper div.header,
main.game > div.wrapper div.header span {
  display: grid;
  place-items: center;
}

main.game > div.wrapper article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

main.game > div.wrapper article section.dashboard {
  font-size: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 20px;
}

main.game > div.wrapper article section.dashboard > div {
  background: var(--white-color);
  display: grid;
  place-items: center;
  box-shadow: 0px 3px 10px #02396b4d;
  border-radius: 10px;
  padding: 15px 0;
}

main.game > div.wrapper article section.dashboard > button {
  height: 50px;
  width: 120px;
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  background-size: contain;
  background-image: url("../assets/ui/play.png");
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

main.game > div.wrapper article section.dashboard > button:active {
  transform: scale(0.9);
}

main.game > div.wrapper article section.controls {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 10px #02396b4d;
  background: var(--white-color);
}

main.game > div.wrapper article section div.frame {
  position: relative;
}

main.game > div.wrapper article section div.frame .timer {
  position: absolute;
  bottom: -12px;
  background-image: url("../assets/ui/timer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  margin: 0 auto;
  height: 60px;
}

main.game > div.wrapper article section div.frame .timer span {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 64px;
  color: #29888e;
  background: #3ab9d7;
  width: 52px;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 3px;
  top: 19px;
  font-stretch: expanded;
}

@media screen and (max-width: 1100px) {
  .no_copy {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media screen and (max-width: 1100px) and (orientation: landscape) {
  main.game > div.wrapper div.header span {
    height: 25px;
    width: fit-content;
    padding: 0 10px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  main.game > div.wrapper article section.dashboard {
    font-size: 20px;
    row-gap: 10px;
  }

  main.game > div.wrapper article section.dashboard button {
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1100px) and (orientation: portrait) {
  main.game {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  main.game > div.locked {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../assets/ui/locked.gif");
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: 50% 0;
  }

  main.game > div.wrapper {
    display: none;
  }
}
